<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado publiaciones</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
    <h1>list pub mod</h1>
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr><th scope="col">Id</th><th scope="col">Titulo</th><th scope="col">Contenido</th>
                    <th scope="col">Fecha</th><th scope="col">Categoria</th><th scope="col">Autor</th><th scope="col">
                    Opciones</th><th scope="col">Opciones</th>
                </thead>
                <tbody>
                    {%for pub in publicaciones%}
                        <tr><td>{{pub.id}}</td><td>{{pub.titulo}}</td><td>{{pub.contenido}}</td><td>{{pub.fecha_creacion}}</td>
                        <td>{{pub.categoria.nombre}}</td>
                        <td>{{pub.autor}}</td>
                        <td><a href="{%url 'form_mod_Publicacion' pub.id%}">Modificar</a></td>
                        <td><a href="{%url 'form_del_Publicacion' pub.id%}">Eliminar</a></td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>